<body>

    <header class="header">
        <nav class="navegacion">
            <a routerLink="/Inicio" class="title">
                <img src="../assets/free-logo-ab5z9h21kt-erawbz29qu.jpg" alt="logo" class="imagen">
            </a>
            <ul class="menu">
                <li>
                    <a routerLink="/Inicio">
                        <span class="text-item">INICIO</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/Nosotros">
                        <span class="text-item">NOSOTROS</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/Servicios">
                        <span class="text-item">SERVICIOS</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/Blog">
                        <span class="text-item">BLOG</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/Web">
                        <span class="text-item">LA WEB</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/Contacto">
                        <span class="text-item">CONTACTO</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/Pqr">
                        <span class="text-item">PQR's</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/Login">
                        <span class="text-it">INICIAR SESIÓN</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/Registro">
                        <span class="text-it">REGISTRARSE</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Registrar un  Cliente -->
        <div class="registrar">

            <h2>Registro</h2>

            <form (ngSubmit)="InsertarCliente()" [formGroup]="InsertarGCliente" novalidate>
                <div>
                    Tipo de documento
                    <select formControlName="ComboTipoDocPersona">
                        <option value="" selected>Selecciona una opción</option>
                        <option *ngFor="let tipoDocumento of tiposDocumentos" value="{{ tipoDocumento.id_tipo_doc }}">
                            {{ tipoDocumento.tipo_doc }}
                        </option>
                    </select>
                </div>
                <div *ngIf="
                InsertarGCliente.controls['ComboTipoDocPersona'].invalid &&
                (InsertarGCliente.controls['ComboTipoDocPersona'].dirty || InsertarGCliente.controls['ComboTipoDocPersona'].touched)
                " class="alert alert-danger">
                    <div *ngIf="InsertarGCliente.controls['ComboTipoDocPersona'].errors?.required" class="requerido1">
                        Campo requerido
                    </div>
                </div>
                <br>
                <div>
                    Numero de documento
                    <label for="NumDocCliente"><input type="text" name="NumDocCliente" id="NumDocCliente"
                            formControlName="textNumDocUs"></label>
                </div>
                <div *ngIf="
                InsertarGCliente.controls['textNumDocUs'].invalid &&
                (InsertarGCliente.controls['textNumDocUs'].dirty || InsertarGCliente.controls['textNumDocUs'].touched)
                " class="alert alert-danger">
                    <div *ngIf="InsertarGCliente.controls['textNumDocUs'].errors?.required" class="requerido2">
                        Campo requerido
                    </div>
                </div>
                <br>
                <div>
                    Primer nombre
                    <label for="PNombreCliente"><input type="text" name="PNombreCliente" id="PNombreCliente"
                            formControlName="textPNombreUs"></label>
                </div>
                <div *ngIf="
                InsertarGCliente.controls['textPNombreUs'].invalid &&
                (InsertarGCliente.controls['textPNombreUs'].dirty || InsertarGCliente.controls['textPNombreUs'].touched)
                " class="alert alert-danger">
                    <div *ngIf="InsertarGCliente.controls['textPNombreUs'].errors?.required" class="requerido3">
                        Campo requerido
                    </div>
                </div>
                <br>
                <div>
                    Segundo nombre
                    <label for="SNombreCliente"><input type="text" name="SNombreCliente" id="SNombreCliente"
                            formControlName="textSNombreUs"></label>
                </div>
                <br>
                <div>
                    Primer apellido
                    <label for="PApellidoCliente"><input type="text" name="PApellidoCliente" id="PApellidoCliente"
                            formControlName="textPApellidoUs"></label>
                </div>
                <div *ngIf="
                InsertarGCliente.controls['textPApellidoUs'].invalid &&
                (InsertarGCliente.controls['textPApellidoUs'].dirty || InsertarGCliente.controls['textPApellidoUs'].touched)
                " class="alert alert-danger">
                    <div *ngIf="InsertarGCliente.controls['textPApellidoUs'].errors?.required" class="requerido4">
                        Campo requerido
                    </div>
                </div>
                <br>
                <div>
                    Segundo apellido
                    <label for="SApellidoCliente"><input type="text" name="SApellidoCliente" id="SApellidoCliente"
                            formControlName="textSApellidoUs"></label>
                </div>
                <div *ngIf="
                InsertarGCliente.controls['textSApellidoUs'].invalid &&
                (InsertarGCliente.controls['textSApellidoUs'].dirty || InsertarGCliente.controls['textSApellidoUs'].touched)
                " class="alert alert-danger">
                    <div *ngIf="InsertarGCliente.controls['textSApellidoUs'].errors?.required" class="requerido5">
                        Campo requerido
                    </div>
                </div>
                <br>
                <div>
                    Contraseña
                    <label for="ContraCliente"><input type="password" name="ContraCliente" id="ContraCliente"
                            formControlName="textContrasenaUs"></label>
                </div>
                <div *ngIf="
                InsertarGCliente.controls['textContrasenaUs'].invalid &&
                (InsertarGCliente.controls['textContrasenaUs'].dirty || InsertarGCliente.controls['textContrasenaUs'].touched)
                " class="alert alert-danger">
                    <div *ngIf="InsertarGCliente.controls['textContrasenaUs'].errors?.required" class="requerido6">
                        Campo requerido
                    </div>
                </div>
                <br>
                <div>
                    Nombre de usuario
                    <label for="NickCliente"><input type="text" name="NickCliente" id="NickCliente"
                            formControlName="textNickNameUs"></label>
                </div>
                <div *ngIf="
                InsertarGCliente.controls['textNickNameUs'].invalid &&
                (InsertarGCliente.controls['textNickNameUs'].dirty || InsertarGCliente.controls['textNickNameUs'].touched)
                " class="alert alert-danger">
                    <div *ngIf="InsertarGCliente.controls['textNickNameUs'].errors?.required" class="requerido7">
                        Campo requerido
                    </div>
                </div>
                <br>
                <button type="submit">Registrarme</button>
            </form>
            <!--<p>Form value: {{ InsertarGCliente.value | json }}</p>-->
            <!--<h3>Estado: {{InsertarGCliente.status | json }}</h3>-->
        </div>
    </main>
    <section>
        <div class="adorno">
            <div class="caja"></div>
            <div class="caja"></div>
        </div>
    </section>

    <footer>
        <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #84C639;"></path>
            </svg></div>
    </footer>

</body>